@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
}

/* Animazioni per il popup */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.slide-up {
    animation: slideUp 0.5s ease-out forwards;
}

/* Rimuovi l'impostazione globale z-index per i button */
button {
    position: relative;
}

/* Garantisci che i pulsanti nel modal abbiano z-index superiore */
.z-50 button {
    z-index: 51;
}

input[type="tel"] {
    border: none;
    border-bottom: 4px solid #fff;
    border-radius: 0;
    outline: none;
    background: transparent;
}

input[type="tel"]:focus {
    border: none;
    border-bottom: 4px solid #fff;
    outline: none;
}

input[type="tel"] {
    border: none;
    border-bottom: 2px solid #a3a3a3;
    border-radius: 0;
    outline: none;
    background: transparent;
}

input[type="tel"]:focus {
    border: none;
    border-bottom: 2px solid #a3a3a3;
    outline: none;
}

.p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--foreground);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

select, select option {
    color: black !important;
}

select:focus {
    color: black !important;
}

div[ref="sliderRef"]::-webkit-scrollbar {
    display: none;
}